   <header class="w3-padding-32 w3-cell-row">
        <div class="w3-cell w3-cell-middle">
            <h2 style="font-weight: 800; margin: 0; letter-spacing: -1.5px;">
                Reasoning<span style="color:#818cf8;">Frame</span>
            </h2>
        </div>

        <div class="w3-cell w3-cell-middle" style="text-align: right;">
            <select id="lang-select" class="lang-selector" style="margin-left: 10px;">
                <option class="w3-black" value="fr">🇫🇷 FR</option>
                <option class="w3-black" value="en">🇬🇧 EN</option>
            </select>
        </div>
    </header>
